html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: var(--lh);
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --primary: rgb(1, 35, 255);
  --secondary: #eee9da;
}

body {
  margin: 0;
  padding: 20px;
  background: var(--secondary);
  color: var(--primary);
}
p {
  margin: 20px 0;
}

header nav {
  display: flex;
  gap: 16px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

header nav a {
  text-decoration: none;
  padding: 0;
  margin: 10px;
  border-radius: 0;
  text-transform: uppercase;
  color: var(--primary);
  font-size: 16 px;
  font-weight: bolder;
}
header nav a.active {
  border: 2px solid var(--primary);
  border-radius: 10px;
  padding: 8px;
  color: var(--secondary);
  background-color: var(--primary);
}

main {
  max-width: 1200px;
  margin: 40px auto;
}

h2 {
  text-transform: uppercase;
  font-size: 42px;
  text-align: center;
}

.tab a {
  text-decoration: none;
  padding: 0;
  margin: 10px;
  border-radius: 0;
  text-transform: uppercase;
  color: var(--primary);
  font-size: 16 px;
  font-weight: bolder;
}
.tab a.active {
  border: 2px solid var(--primary);
  border-radius: 10px;
  padding: 8px;
  color: var(--secondary);
  background-color: var(--primary);
}

.btn {
  color: var(--secondary);
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: transparent;
}
.btn:hover {
  box-shadow: 2px 2px 10px black;
}
.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 0 auto;
}
.contact input,
textarea,
label {
  width: 100%;
  padding: 5px;
  resize: none;
  font-size: large;
}
.about {
  width: 80%;
  margin: 0 auto;
}

.neutral {
  background-color: var(--primary);
}
.confirm {
  background-color: green;
}

.drinks-item {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.drinks-item li {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  width: 300px;
  height: 500px;
  padding: 30px;
  list-style: none;
  border-radius: 20px;
}
.drinks-item p {
  overflow: hidden;
  height: 100px;
  margin: 10px;
}

.drinks-item li img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.detailed-drinks {
  display: flex;
  flex-direction: column;
}

.detailed-drinks img {
  width: 500px;
}

.breadcrumbs {
  color: rgb(90, 90, 90);
  text-decoration: underline;
  text-underline-offset: 5px;
}

.detailed-wine img {
  width: 200px;
}

.alcohol img {
  width: 50%;
  height: 50%;
}

.main-section {
  display: flex;
  gap: 20px;
}

.home {
  background-image: url("../src/assets/home.jpg");
  background-size: cover;
  width: 70vw;
  height: 70vh;
}
